// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/responsive-embed";
@import "bootstrap/close";
@import "bootstrap/datepicker";


// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$c-black:			#000000 !default;
$c-white:			#ffffff !default;

$c-gray-base:		#191919 !default;
$c-gray-darker:		#262626 !default;
$c-gray-dark:		#303030 !default; /* ex.#333333 и #323232 */
$c-gray:			#b2b2b2 !default; /* active */
$c-gray-light:		#eaeaea !default; /* hover ex. #f4f4f4 */
$c-gray-lighter:	#f3f3f3 !default; /* norm ex. #f9f9f9 */


/*$c-red-base:		#cc2d2d !default;*/
$c-red-darker:		#cc2d2d !default; /* active */
$c-red-dark:		#d42f2f !default; /* hover */
$c-red:				#e63333 !default; /* norm */
/*$c-red-light:		#e63333 !default;*/
/*$c-red-lighter:	#e63333 !default;*/


/*$c-green-base:	#60ad2e !default;*/
$c-green-darker:	#409F2E !default;
$c-green-dark:		#40AF32 !default;
$c-green:			#50AF38 !default;
/*$c-green-darker:	#60ad2e !default;
$c-green-dark:		#65b332 !default;
$c-green:			#6bba38 !default;
*//*$c-green-light:	#9bd42a !default;*/
$c-green-lighter:	#9bd42a !default;


/*$c-blue-base:		#2589de !default;*/
$c-blue-darker:		#2589de !default; /* active */
$c-blue-dark:		#2995f2 !default; /* hover */
$c-blue:			#2a9dff !default; /* norm */
/*$c-blue-light:	#2a9dff !default;*/
$c-blue-lighter:	#75BFFF !default; /* border */


$max_width: 990px;

.font102 {font-size:102px;line-height:90px;}
.font96 {font-size:96px;line-height:75px;}
.font59 {font-size:59px;line-height:59px;}

@mixin anime($anitime: 200ms, $easing: ease-out){
	-webkit-transition: all $anitime $easing;
	-moz-transition: all $anitime $easing;
	-ms-transition: all $anitime $easing;
	-o-transition: all $anitime $easing;
	transition: all $anitime $easing;
	/*-webkit-transform: translateZ(0);*/
}


/*
html, body { background: #f1f2f6; }
*/
html, body { background: #f1f2f6; height:100%;
min-height:100%;position:relative;}

body {  
	padding: 0; 
	font-family: Arial;
position:relative;
  font-size: 13px;
  line-height:20px; 
 }

a:link, a:visited {color:#002664; text-decoration: none;}

a:active, a:focus {
	color:#111111;
	text-decoration: none;
}
a:hover {color:#111111; text-decoration: none;}
/*
Минимальная ширина - 320px, максимальная - 990px
При ширине экрана более 990px содержимое страницы выравнивается по центру экрана.
*/

/*.b-header__nav-wrapper, footer, .b-content {
	max-width: $max_width;
	margin: 0 auto;
}*/

.nophone {
	min-width: 320px;
	body, .b-header__nav-wrapper, header, footer, .b-content { min-width: 320px; }
}
.phone {
	min-width: 320px;
	body, .b-header__nav-wrapper,  header, .b-content { min-width: 320px; max-width: 990px; margin:0 auto; }
}


.nowrap { white-space: nowrap; }

/*
.d_table, .d_table_row, .d_table_cell
отображение контейнеров в виде ячеек таблицы
*/
.d_table { display: table; width: 100%; }
.d_table_row { display: table-row; }
.d_table_cell { display: table-cell; vertical-align: middle; }
.b-fix_wrapper { min-width: 320px; max-width: 990px;  margin:0 auto;}
.container.b-fix_wrapper { min-width: 320px; max-width: 990px;  margin:0 auto;}

.header {height:98px;position:relative; width:100%;box-shadow:0 1px 8px rgba(0,11,29,0.48); z-index:1;}

.b-banner {
	section {background:url('../icons/bg-banner.png') no-repeat center 0; margin-bottom:-103px;}
	background: linear-gradient(to bottom,  #e1e6ed 0%,#c2c9d4 100%);
	.b-run_img {position:absolute; top:105px; left:-40px;}
	.b-load_run {
		display:inline-block; vertical-align:top; width:49%; padding:20px; 
		img {margin-top:10px; transform: rotate(45deg);}
		.circle {text-align:center; vertical-align:middle;border:5px solid #d5d5d7;transform: rotate(-45deg);  border-top:5px solid #6f57a5; border-radius:100%; height:55px; width:55px;}
	}

	.b-manrun {background:url('../images/flagman.png') no-repeat center -15px; position:relative; min-height:434px; margin-bottom:35px;
	
		.num {color:#00bbac; font-family: 'Conv_Vitesse-Bold',Sans-Serif; font-size:13px; line-height:17px;}
		.circle {border-top:5px solid #d5d5d7; border:5px solid #00bbac; transform: rotate(45deg); }
		.b-load_run {
		img {transform: rotate(-45deg);}
		}
	}
	.b-womenrun {background:url('../images/flagwomen.png') no-repeat center -15px;position:relative;  min-height:434px; margin-bottom:35px;
				.num {color:#6f57a5; font-family: 'Conv_Vitesse-Bold',Sans-Serif; font-size:13px; line-height:17px;}
				.b-run_img {top:125px;}
	}
	.b-manrun_mob { position:relative; 		 padding:50px; background: linear-gradient(to bottom,  #e6e7e9 0%,#f9fafa 50%,#eceef2 100%);

		.b-load_run {display:block;width:100%; padding:0; }
		.b-run_results {display:block;width:100%; padding:0; text-align:left; margin-top:10px;}
		.num {color:#00bbac; font-family: 'Conv_Vitesse-Bold',Sans-Serif; font-size:13px; line-height:17px;}
		.circle {border-top:5px solid #d5d5d7; border:5px solid #00bbac; transform: rotate(45deg); }
		.b-load_run {
		img {transform: rotate(-45deg);}
		}
	}
	.b-womenrun_mob {position:relative; border-left:1px solid #dbdbdb; padding:50px; background: linear-gradient(to bottom,  #e6e7e9 0%,#f9fafa 50%,#eceef2 100%);
				.b-load_run {display:block;width:100%; padding:0; }
				.b-run_results {display:block;width:100%; padding:0; text-align:left; margin-top:10px;}
				.num {color:#6f57a5; font-family: 'Conv_Vitesse-Bold',Sans-Serif; display:block; font-size:13px; line-height:17px;}
	}
	.b-run_results {display:inline-block; vertical-align:top; width:49%; text-transform:uppercase; color:#4d4f53; padding:20px 27px;  font-size:11px; line-height:13px; font-family: 'Conv_Vitesse-Medium',Sans-Serif;}
	.b-main_sec {text-align:center; 
		.logo {font-family: 'Conv_Vitesse-Bold',Sans-Serif; text-transform:uppercase; color:#002664;}
		.logo img {display:block; margin:28px auto 14px auto;}
		.logo span {display:block;}
		
	}
	.total {text-align:center; font-family: 'Conv_Vitesse-Medium',Sans-Serif; font-size:12px; line-height:30px; padding:25px 0;  margin-bottom:23px; margin-left:-20px; margin-right:-20px; box-shadow: 0px 20px 20px -20px rgba(5,10,29,0.5);

		.num {font-family: 'Conv_Vitesse-Bold',Sans-Serif;}
		.txt {padding:0 25px; margin-left:25px; border-left:1px solid #2e3854;  line-height:30px; color:#ffffff; display:inline-block; vertical-align:top;}
		div:before {content:''; display:inline-block; vertical-align:top; height:30px; width:23px; background:url('../icons/flag.png') no-repeat 0 0;}
	}
	.b-link {border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; color:#002664; margin:25px auto; text-transform:uppercase; display:inline-block; vertical-align:top; 
		a {display:inline-block; vertical-align:top; border-left:1px solid #dbdbdb; padding:0 13px; font-size:12px; line-height:47px;font-family: 'Conv_Gotham-Medium',Sans-Serif;}
		a:first-child {border:0 none;}
	}
	.b-womenrun_mob, .b-manrun_mob {display:none;}
	.social {display:inline-block; vertical-align:top; text-indent:-999em; width:45px; height:47px; background:url('../icons/social.png') no-repeat center center;}

	.b-read_more {text-align:center; font-size:12px; line-height:27px; margin-bottom:15px;font-family: 'Conv_GothamHTF-Medium',Sans-Serif; color:#002664; text-transform:uppercase; display:block; margin:0 auto; max-width:345px;}
	.b-read_more span {position:relative;}	
	.b-read_more span:after {content:''; display:inline-block; vertical-align:top; height:27px; width:6px; margin-left:10px; background:url('../icons/arrow_right.png') no-repeat 0 center;}
}
.b-race_list {
	background:#364069; color:#ffffff; padding-top:103px; 
	.b-race_table {width:100%; margin-top:-20px;
	 tr:hover{ box-shadow:0 0 3px #060a1a;
		td {background:#3a7dda;  text-align:left;}
		td a { border:0 none;}
		td:first-child {background:#ffffff;
			a {color:#939598; border:0 none;}
			span {color:#939598;}
		}
		 td .goto {display:block; }
		 td .date {display:none;}
		 h2 {background:#364069;}
	 }
	 tr { border-bottom:1px solid #1d2440; }
	 tr td { background:#2b3457;text-align:center; vertical-align:middle;margin:0 -20px;   width:25%; font-family: 'Conv_Vitesse-Bold',Sans-Serif;
		.goto {display:none; text-transform:uppercase;}
		.goto:after {content:''; display:inline-block; vertical-align:top; float:right; height:20px; width:10px;background:url('../icons/arrow_right_02.png') no-repeat 0 center;}
		
		.date {text-transform:uppercase;}
		 a {color:#ffffff; padding:25px 20px; display:block;}
	}
	 td:first-child  {background:#364069; text-align:left; width:75%;
		.name {font-family: 'Conv_Vitesse-Medium',Sans-Serif; font-size:14px; line-height:25px;}
		  span {font-family: 'Conv_Gotham-Book'; color:#f7f7f7; padding:0 10px; border-left:1px solid #161a33;}
		  span:first-child {border-left:0 none; padding-left:0;}
		  a {padding:25px 20px;}

	}
	}
	h2 { margin:0; font-size:15px; font-weight:normal; padding:30px 20px 25px 20px; }

}
#search {position:static;}
#nav {position:static;}
#filtr {position:static;}
#nav.affix {
    position: fixed;
    top: 0; 
    width:100%;
    left:0;
    background:#fcfcfd;
    margin:0;
    text-align:left;
    .b-link {margin:0; border-top:0 none; border-bottom:0 none; position:absolute; right:86px;
	a { line-height:70px;}
	a:first-child {border-left:1px solid #dbdbdb;}
	}
	.social {text-indent:0; background-position:100% center; height:70px; width:auto; padding-right:25px; margin-right:13px;}
    > div {max-width:990px; min-width:320px; margin:0 auto; position:relative;}
    .b-read_more {display:none;}
    .logo {display:inline-block; vertical-align:top;
	img {position:absolute; right:0; margin:0; border-left:1px solid #dbdbdb; padding:20px 0 20px 20px; }
	span {font-size:24px; line-height:70px; display:inline-block; vertical-align:top; margin-right:5px;}
	}
    }
#search.affix {
    position: fixed;
    background:#fcfcfd;
    top: 70px; 
    width:100%;
    left:0;
    z-index:1;
    .b-search-form {max-width:990px; min-width:320px; margin:0 auto;}    
}
#filtr.affix {
    position: fixed;
    background:#364069;
    top: 140px; 
    width:100%;
    left:0;
    z-index:0;
    .row {max-width:990px; min-width:320px; margin:0 auto;border:0 none;}    
}
.b-search-form {width:100%;  position:relative;     box-shadow: 0 0 8px 1px rgba(5,10,29,0.5);
	.b-search-input {display:block; background:none; width:100%; padding:0 95px 0 25px; height:70px; line-height:70px; font-size:16px; background:#ffffff; border:0 none; font-family: 'Conv_Gotham-Medium'; color:#959595;}
	.b-search__button { position:absolute; top:0; right:0; height:70px; display:block; width:70px; border:0 none; background-color:#3a7dda;  background-image: url('../icons/search.png');  background-repeat: no-repeat;  background-position: center center;}
	.b-search_autocomplete {position:absolute; top:70px; left:0;width:100%; z-index:999; background:#ffffff;
		.b-check_autocomplete {background:#002664; padding:20px 0;color:#ffffff;box-shadow:inset 0px 0 1px 0 #32435f; font-size:12px; line-height:20px;font-family: 'Conv_Gotham-Medium'; text-transform:uppercase;}
		.b-check {background:#ffffff; height:20px; width:20px; border-radius:3px; display:inline-block; vertical-align:top; margin:0 30px 0 50px;}
		.js-scroll {max-height:320px; overflow:hidden;}
		
		.mCSB_inside > .mCSB_container {margin-right:0;}
		.row {display:block; border-bottom:1px solid #dbdbdb;}
		.col-md-9 {font-family: 'Conv_Gotham-Book',Sans-Serif; font-size:16px; line-height:20px;color:#9a9b9c; padding:20px; position:relative;
			.name { font-family: 'Conv_Vitesse-Book',Sans-Serif; color:#4d4f53;font-size:18px; line-height:20px;}
			.view {display:none;position:absolute; right:20px; top:30px;font-size:12px; line-height:20px; color:#ffffff; text-align:right; font-family: 'Conv_Gotham-Medium';text-transform:uppercase; }
		}
		.col-md-3 {color:#4d4f53; background:#f5f5f7; box-shadow:inset 0px 1px 0 0 #e8e8eb; font-size:12px; line-height:20px; padding:30px 20px; text-align:right;font-family: 'Conv_Gotham-Medium';text-transform:uppercase;
			.goto {display:none; text-transform:uppercase;}
			.goto:after {content:''; display:inline-block; vertical-align:top; float:right; height:20px; width:10px;background:url('../icons/arrow_right_02.png') no-repeat 0 center;}

		}
		.row:hover {background:#002664;}
		.row:hover .col-md-9 {background:#002664;color:#ffffff; 
			.name {color:#ffffff;}
			.view {display:inline-block; vertical-align:top;}
		}
		.row:hover .col-md-3 {background:#3a7dda;color:#ffffff; 
			span {display:none;}
			.goto {display:block; text-align:left; background:#3a7dda;}
		}
	}


}

.b-filtr_head	{
	.row {box-shadow: 0px 20px 20px -20px rgba(5,10,29,0.5); border-bottom:1px solid #0c2439;  margin-bottom:20px;}

	.col-md-3 { background:#364069;text-align:center; vertical-align:middle; padding:0; font-size:12px; text-transform:uppercase; font-family: 'Conv_Gotham-Medium',Sans-Serif; color:#ffffff; 
	 a {color:#ffffff; display:block; text-align:left; padding:25px 20px; line-height:30px;}
	}
	.col-md-9 {border-right:1px solid #0c2439; text-align:left; font-family: 'Conv_Vitesse-Medium',Sans-Serif; text-transform:none; padding:20px;
			.name {font-family: 'Conv_Vitesse-Medium',Sans-Serif; font-size:14px; line-height:25px;}
					  span {font-family: 'Conv_Gotham-Book'; color:#f7f7f7;}

	}
}
.dropdown {padding:0;
	a {padding:25px 20px;}
	.caret {float:right; background:url('../icons/arrow_down.png') no-repeat 0 center; border:0 none; height:30px; width:20px;}
	.dropdown-menu {border-radius:0; width:100%; padding:0; z-index:999;
		ul {margin:0; padding:0;}
		li a {padding:15px 0; margin:0 15px; border-top:1px solid #E2E2E2; color:#959595; font-size:12px; line-height:20px;font-family: 'Conv_Gotham-Medium',Sans-Serif; }
		li:first-child a {border:0 none;}
		li:hover { background-color:#3a7dda; 
			a { background-color:#3a7dda; color:#ffffff;border-top:1px solid #3a7dda;}
		}
		li:first-child:hover a {border:0 none;}
		.all {border-top:1px solid #E2E2E2;font-size:12px; line-height:20px;font-family: 'Conv_Gotham-Medium',Sans-Serif; 
			a {border:0 none; margin:0; padding:10px 0;text-align:center; color:#0F244C; text-transform:uppercase;} 
		}
		.js-scroll {max-height:310px; overfow:hidden;}
		.nav-tabs {border-bottom:1px solid #e2e2e2;}
		.nav-tabs .active { background:#3a7dda;}
		.nav-tabs li a {border-radius:0; border:0 none; color:#515151;}
		.nav-tabs .active a {color:#ffffff; background:#3a7dda;}
		.nav-tabs li:hover a {color:#ffffff; border:0 none;}
		.mCSB_inside > .mCSB_container {margin-right:0;}
	}	
}
.dropdown.open {background:#002665;  box-shadow: 0 0 8px 1px rgba(5,10,29,0.5);
	.caret { background:url('../icons/close.png') no-repeat 0 center; }
}
footer { width:100%; z-index:0; position:relative; min-width:320px;background:#002664; color:#ffffff; font-size:12px; line-height:16px;font-family: 'Montserrat', sans-serif;
	.container-fluid { min-width: 320px; max-width: 990px;  margin:0 auto;}
	.col {border-left:1px solid #011639;}
	.col-xs-6, .col-xs-3 {padding:25px 0; text-align:center;}
	.col-md-4 .col-xs-3 {border-left:1px solid #011639; padding:33px 0;}
	.col-md-7 {text-align:left; padding:25px 0 25px 15px;}
	.col-md-7 img {padding-right:20px;}
}


@media (min-width: 768px) and (max-width: 991px) {
	.col-md-4  {border-top:1px solid #011639;}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1399px) {
}
@media (min-width: 1400px) {

}
@media screen and (max-width: 1118px) {
	.b-banner .b-run_img {width:120%; height:auto;}
}
@media screen and (max-width: 990px) {
	.b-banner .b-run_img {width:100%; left:0; bottom:-105px; top:auto; height:auto;}
	.b-banner .b-womenrun .b-run_img { bottom:-105px; top:auto;}
}
@media screen and (max-width: 768px) {
	.col-md-4  {border-top:1px solid #011639;}
	.b-manrun {display:none;}
	.b-womenrun {display:none;}
	.b-banner .b-womenrun_mob, .b-banner .b-manrun_mob {display:block;}
	.b-banner .total {box-shadow: none; margin:0;}
	.b-filtr_head .col-md-3  {display:block; width:100%; margin:0; padding:10px 50px 50px 50px;}
		.b-filtr_head .col-md-9 {display:block; width:100%; border:0 none; margin:0; padding:50px 50px 10px 50px;}

	.b-filtr_head .dropdown {background:#ffffff; width:100%; 
		a {color:#0F244C; padding:30px;}
		.caret { background:url('../icons/arrow_down_02.png') no-repeat 0 center;}
		li:hover {  
			a {  color:#ffffff;}
		}
		li.all {
			a { color:#0F244C;} 
		}
		li.all:hover a {color:#ffffff;}
	}
.b-search-form  .b-search_autocomplete .row:hover .col-md-9 {
			.view {display:none;}
		}



}
@media screen and (max-width: 480px) {
.b-banner .b-womenrun_mob, .b-banner .b-manrun_mob {padding:20px;}
.b-search-form .b-search-input {padding:0 80px 0 10px;}
.b-filtr_head .dropdown {
		a {color:#0F244C; padding:10px;}
}
	.b-filtr_head .col-md-3 {padding:10px;}
	.b-filtr_head .col-md-9 { padding: 10px;}
	.b-search-form  .b-search_autocomplete .row:hover .col-md-9 {
			.view {display:none;}
		}

}


a:hover, a:active, a:focus { outline: none; }

a.link-blue {
	color: #188EF2;
	@include anime(275ms, ease-out);
	&:hover {
		text-decoration: none;
		color: #1A8CD8;
	}
}

a.link-black {
	color: #000;
	@include anime(275ms, ease-out);
	&:hover {
		text-decoration: none;
		color: #333;
	}
}

a.link-gray-medium {
	color: #666;
	@include anime(275ms, ease-out);
	&:hover {
		text-decoration: none;
		color: #888;
	}
}

a.link-gray-lite {
	color: #b2b2b2;
	@include anime(275ms, ease-out);
	&:hover {
		text-decoration: none;
		color: #aaa;
	}
}
a.link-back{
    color: #231F20;
    padding-left: 35px;
    position: relative;
    transition: all 175ms ease-out;
        &:hover{
            color: #231F20;
                .icon{
                    background-position: -25px 0;
                    transition: all 175ms ease-out;
                }
        }
}

a.butt_red { 
	font-size: 18px; line-height: 60px;
	background: red; color: $c-white;
	white-space: nowrap; display: inline-block;
	padding: 0 50px;
	-webkit-transition: background  175ms, -webkit-transform 175ms;
	transition: background  175ms, transform 175ms;
}
a.butt_red:hover {
	text-decoration: none;
	background-color: red;
}
a.butt_red:active {
	background-color: red;
}
a.butt-ico{
    width: 100%; height: 65px;
    text-align: center;
    display: table;
    font-size: 14px;
    color: #231F20;
    border: 1px solid #ccc;
        &:hover{
            cursor: pointer;
        }
}

.butt-text {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}


.butt-red, .butt_gray-lite {
	width: 100%;
	padding: 0;
	font-size: 14px; line-height: 16px;
	text-align: center;
	display: table;
	height: 55px;
	@include anime(275ms, ease-out);
}
.b-button, .b-button_white {
	width: 215px;
	padding: 0;
	font-size: 13px; line-height: 60px;
	text-align: center;
	display: inline-block;
	vertical-align:top;
	height: 60px;
	border-radius:3px;
	@include anime(275ms, ease-out);
}
.butt-detail{
    height: 67px;
}
a.butt-red {
	background: red; color: #fff;
	&:hover {
		text-decoration: none;
		background-color: red;
	}
}

a.b-button_white {
	background: #ffffff; color: #4ea5bb;
	border: 1px solid #4ea5bb;
	&:hover {
		text-decoration: none;
		background-color: #4ea5bb;
		color:#ffffff;
	}
}
a.b-button {
	background: #4ea5bb; color: #ffffff;
	border: 1px solid #4ea5bb;
	&:hover {
		text-decoration: none;
		background-color: #ffffff;
		color:#4ea5bb;
	}
}

/*
== malihu jquery custom scrollbar plugin ==
Plugin URI: http://manos.malihu.gr/jquery-custom-content-scroller
*/



/*
CONTENTS: 
	1. BASIC STYLE - Plugin's basic/essential CSS properties (normally, should not be edited). 
	2. VERTICAL SCROLLBAR - Positioning and dimensions of vertical scrollbar. 
	3. HORIZONTAL SCROLLBAR - Positioning and dimensions of horizontal scrollbar.
	4. VERTICAL AND HORIZONTAL SCROLLBARS - Positioning and dimensions of 2-axis scrollbars. 
	5. TRANSITIONS - CSS3 transitions for hover events, auto-expanded and auto-hidden scrollbars. 
	6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS 
		6.1 THEMES - Scrollbar colors, opacity, dimensions, backgrounds etc. via ready-to-use themes.
*/



/* 
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE  
------------------------------------------------------------------------------------------------------------------------
*/

	.mCustomScrollbar{ -ms-touch-action: none; touch-action: none; /* MSPointer events - direct all pointer events to js */ }
	.mCustomScrollbar.mCS_no_scrollbar{ -ms-touch-action: auto; touch-action: auto; }
	
	.mCustomScrollBox{ /* contains plugin's markup */
		position: relative;
		overflow: hidden;
		height: 100%;
		max-width: 100%;
		outline: none;
		direction: ltr;
	}

	.mCSB_container{ /* contains the original content */
		overflow: hidden;
		width: auto;
		height: auto;
	}



/* 
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR 
y-axis
------------------------------------------------------------------------------------------------------------------------
*/

	.mCSB_inside > .mCSB_container{ margin-right: 30px; }

	.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } /* non-visible scrollbar */
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container{ /* RTL direction/left-side scrollbar */
		margin-right: 0;
		margin-left: 30px;
	}
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } /* RTL direction/left-side scrollbar */

	.mCSB_scrollTools{ /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
		position: absolute;
		width: 16px;
		height: auto;
		left: auto;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.mCSB_outside + .mCSB_scrollTools{ right: -26px; } /* scrollbar position: outside */
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, 
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ /* RTL direction/left-side scrollbar */
		right: auto;
		left: 0;
	}
	
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; } /* RTL direction/left-side scrollbar (scrollbar position: outside) */

	.mCSB_scrollTools .mCSB_draggerContainer{ /* contains the draggable element and dragger rail markup */
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0; 
		height: auto;
	}

	.mCSB_scrollTools a + .mCSB_draggerContainer{ margin: 20px 0; }

	.mCSB_scrollTools .mCSB_draggerRail{
		width: 3px;
		height: 100%;
		margin: 0 auto;
	}

	.mCSB_scrollTools .mCSB_dragger{ /* the draggable element */
		cursor: pointer;
		width: 100%;
		height: 30px; /* minimum dragger height */
		z-index: 1;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ /* the dragger element */
		position: relative;
		width: 3px;
		height: 100%;
		margin: 0 auto;
		border-radius:0;
		text-align: center;
	}
	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px; /* auto-expanded scrollbar */ }
	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px; /* auto-expanded scrollbar */ }

	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown{
		display: block;
		position: absolute;
		height: 20px;
		width: 100%;
		overflow: hidden;
		margin: 0 auto;
		cursor: pointer;
	}

	.mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }



/* 
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR 
x-axis
------------------------------------------------------------------------------------------------------------------------
*/

	.mCSB_horizontal.mCSB_inside > .mCSB_container{
		margin-right: 0;
		margin-bottom: 30px;
	}
	
	.mCSB_horizontal.mCSB_outside > .mCSB_container{ min-height: 100%; }

	.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden{ margin-bottom: 0; } /* non-visible scrollbar */

	.mCSB_scrollTools.mCSB_scrollTools_horizontal{
		width: auto;
		height: 16px;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
	.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal{ bottom: -26px; } /* scrollbar position: outside */

	.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer{ margin: 0 20px; }

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{
		width: 100%;
		height: 2px;
		margin: 7px 0;
	}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger{
		width: 30px; /* minimum dragger width */
		height: 100%;
		left: 0;
	}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
		width: 100%;
		height: 4px;
		margin: 6px auto;
	}
	
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{
		height: 12px; /* auto-expanded scrollbar */
		margin: 2px auto;
	}
	
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{
		height: 8px; /* auto-expanded scrollbar */
		margin: 4px 0;
	}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{
		display: block;
		position: absolute;
		width: 20px;
		height: 100%;
		overflow: hidden;
		margin: 0 auto;
		cursor: pointer;
	}
	
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft{ left: 0; }

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{ right: 0; }



/* 
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS 
yx-axis 
------------------------------------------------------------------------------------------------------------------------
*/

	.mCSB_container_wrapper{
		position: absolute;
		height: auto;
		width: auto;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-right: 30px;
		margin-bottom: 30px;
	}
	
	.mCSB_container_wrapper > .mCSB_container{
		padding-right: 30px;
		padding-bottom: 30px;
	}
	
	.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical{ bottom: 20px; }
	
	.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ right: 20px; }
	
	/* non-visible horizontal scrollbar */
	.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical{ bottom: 0; }
	
	/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
	.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal, 
	.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ right: 0; }
	
	/* RTL direction/left-side scrollbar */
	.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ left: 20px; }
	
	/* non-visible scrollbar/RTL direction/left-side scrollbar */
	.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal{ left: 0; }
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper{ /* RTL direction/left-side scrollbar */
		margin-right: 0;
		margin-left: 30px;
	}
	
	.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container{ 
		padding-right: 0; 
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	}
	
	.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container{ 
		padding-bottom: 0; 
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	}
	
	.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden{
		margin-right: 0; /* non-visible scrollbar */
		margin-left: 0;
	}
	
	/* non-visible horizontal scrollbar */
	.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden{ margin-bottom: 0; }



/* 
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS  
------------------------------------------------------------------------------------------------------------------------
*/

	.mCSB_scrollTools, 
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown,
	.mCSB_scrollTools .mCSB_buttonLeft,
	.mCSB_scrollTools .mCSB_buttonRight{
		-webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		-moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		-o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	}
	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, /* auto-expanded scrollbar */
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{
		-webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		-moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		-o-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
	}



/* 
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS  
------------------------------------------------------------------------------------------------------------------------
*/

	/* 
	----------------------------------------
	6.1 THEMES 
	----------------------------------------
	*/
	
	/* default theme ("light") */

	
	.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
	.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 0; filter: "alpha(opacity=0)"; -ms-filter: "alpha(opacity=0)"; }
	
	.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
	.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
	.mCustomScrollBox:hover > .mCSB_scrollTools,
	.mCustomScrollBox:hover ~ .mCSB_scrollTools,
	.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
	.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; }

	.mCSB_scrollTools .mCSB_draggerRail{
		background-color: #949494;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background-color: #1c2d68;
	}

	.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background-color: #1c2d68;
	}
	.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background-color: #1c2d68;
	}
